.cycle-slideshow {

  .cycle-pager {
    background: transparent;
    text-align: center;
    list-style-type: none;
    margin: 0;
    position: absolute;
    bottom:-30px;
    width: 100%;
  }
  .cycle-pager > span {
    display: inline-block;
    font-size: 36px;
    cursor: pointer;
  }
  .cycle-pager > span {
    color: #049cdb;
  }
  .cycle-pager > span:hover {
    color: #036690;
    text-decoration: none;
  }
  .cycle-pager > span.active,
  .cycle-pager > span.active:hover {
    color: #036690;
  }

  .cycle-prev, .cycle-next {
    position: absolute;
    z-index: 101;
    top: 50%;
    width: 25px;
    height: 80px;
    line-height: 80px;
    margin-top: -40px;
    font-size: 15px;
    text-align: center;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    background: #333333;
    border-radius: 4px;
    opacity: 0.1;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover {
      color: #ffffff;
      text-decoration: none;
      text-shadow: none;
      opacity: 0.3;
    }
  }
  .cycle-prev {
    left: -50px;
  }
  .cycle-next {
    right: -50px;
  }
}


.cycle-slide.ng-hide-add, .cycle-slide.ng-hide-remove {
  -webkit-transition: 500ms all;
  transition: 500ms all;
}

/* Fade Transition */
.cycle-slideshow .ng-hide-remove {
  display: block !important;
  opacity: 0;
}
.cycle-slideshow .ng-hide-remove.ng-hide-remove-active,
.cycle-slideshow .ng-hide-add {
  opacity: 1;
}
.cycle-slideshow .ng-hide-add.ng-hide-add-active {
  opacity: 0;
}