.cycle-slideshow {
  position: relative;


  .placeholder {
    visibility: hidden;
  }
  .cycle-slides {
    overflow: hidden;
  }
  .cycle-slide {
    position: absolute;
    left:0;
    top:0;
  }
}


.fade.hide-add, .fade.hide-remove {
  -webkit-transition: 500ms all;
  transition: 500ms all;
}

/* Fade Transition */
.fade.hide-remove {
  display: block !important;
  opacity: 0;
}
.fade.hide-remove.hide-remove-active,
.fade.hide-add {
  opacity: 1;
}
.fade.hide-add.ng-hide-add-active {
  opacity: 0;
}