<!doctype html>
<html ng-app="App">
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= data.page.title || "The Middleman" %></title>

    <%= stylesheet_link_tag "normalize", "ng-cycle", "ng-cycle-theme", "all" %>
    <%= javascript_include_tag  "angular-1.2.0-rc.3/angular", "angular-1.2.0-rc.3/angular-animate", "ngCycle", "all" %>
  </head>

  <body class="<%= page_classes %>">

    <div id="main">
      <%= yield %>

    </div>
  </body>
</html>