---
title: ngCycle
---

<div id="demo" cycle="fade" pager="on" prev="on" next="on" timeout="1000" starting-slide="2" paused>
  <div cycle-slide=""><img src="http://placehold.it/800x400&text=1" alt=""></div>
  <div cycle-slide=""><img src="http://placehold.it/800x400&text=2" alt=""></div>
  <div cycle-slide=""><img src="http://placehold.it/800x400&text=3" alt=""></div>
  <div cycle-slide=""><img src="http://placehold.it/800x400&text=4" alt=""></div>
</div>